/**
All the styles for 
post.php?post_type=client
post-new.php?post_type=client
*/

div[data-name="email"] {
  input {
    height: 50px;
    font-size: 2rem !important;
    padding: 2rem 1rem !important;
  }
}

.client-dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  > div,
  .tile,
  button {
    border-radius: 1rem;
    border: 1px solid darkgoldenrod;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    background: repeating-linear-gradient(
      45deg,
      #eee,
      #eee 10px,
      #e2e2e2 10px,
      #e2e2e2 20px
    );
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }

  > button,
  .tile--button {
    cursor: pointer;
    background: repeating-linear-gradient(
      45deg,
      #cedeee,
      #cedeee 10px,
      #b3d4f3 10px,
      #b3d4f3 20px
    );
    border: 2px solid lightblue;
    &:hover {
      box-shadow: none;
      background: #eee;
      border: 2px solid darkorange;
    }
  }

  .tile__footer {
    margin-top: 1rem;
    font-size: 0.75rem !important;
  }

  &#client-dashboard-create-diet-from-aliments {
    grid-template-columns: 1fr;
  }
}

/* UI to create diets from the aliments of a programme */
.ui-checkbox {
  border: 1px solid var(--ac-color-info-alt);
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  background: var(--wp-admin--admin-bar--height);
  box-shadow: 2px 3px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.unchecked:hover {
    background: var(--ac-color-info) !important;
  }
  &.checked:hover {
  }
  &.checked {
    box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    background: var(--ac-color-info);
    font-weight: bold;
  }
}

/* Hide things for editors: */

body.user-role-editor {
  #authordiv {
    display: none;
  }
}
