/* General styles for all the backend. */

/* Styles for WP User profile page. */
body.user-edit-php {
  table:first-of-type {
    display: none;
  }

  h2 {
    display: none;
  }

  #wpfooter {
    display: none;
  }

  .user-user-login-wrap,
  .user-nickname-wrap,
  .user-url-wrap,
  .user-description-wrap,
  .application-passwords,
  .user-profile-picture {
    display: none;
  }

  #email {
    font-size: 2rem;
  }
}

.asim-btn-small {
  border: 1px solid #ccc;
  padding: 0.15rem 0.25rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:hover {
    background-color: #ccc;
    color: white;
  }
}

body.user-role-editor.user-edit-php {
  .page-title-action {
    display: none;
  }
}
