/* General styles for all the backend. */

/* Styles for WP User profile page. */
body.user-edit-php {
  table:first-of-type {
    display: none;
  }

  .application-passwords {
    display: none;
  }
}

.asim-btn-small {
  border: 1px solid #ccc;
  padding: 0.15rem 0.25rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &:hover {
    background-color: #ccc;
    color: white;
  }
}
