/* only editor */

.wp-block-asim-piatto-block {
  /* info badge */
  .wp-block-asim-piatto-block__info p {
    display: none;
  }

  &.is-selected {
    border: 5px solid var(--wp--preset--color--ti-accent);

    .wp-block-asim-piatto-block__info p {
      display: block;
    }
  }
  .block-editor-inner-blocks {
    transition: padding;
  }
  &.has-child-selected .block-editor-inner-blocks {
    border: 5px solid var(--wp--preset--color--ti-accent);
    padding: 0 0.5rem;
  }

  img.asim-alimento-icon {
    max-height: 40px;
  }

  .wp-block-asim-piatto-block__info {
    position: absolute;
    background: pink;
    padding: 0 1rem;
    font-size: 1rem;
    right: 0;
    translate: 26px -50px;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    p {
      max-width: 300px;
    }
  }

  /* Badge shown also in backend. Add little interaction in backend */
  .wp-block-asim-piatto-block__piatto-badge {
    &:hover {
      background: var(--wp--preset--color--ti-accent-2);
      cursor: pointer;
    }
  }
}
