/*
  both front and backend. (edit.js and render.php)
*/

.wp-block-asim-alimento-block {
  border: 1px solid #ccc;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #ccc;

  &.is-alternative {
    background-color: #e32828;
  }
}

.wp-block-asim-alimento-block {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "top top"
    "left right";
  gap: 1em;
  margin-bottom: 2rem;
}

.alimento-title {
  grid-area: top;
}

.alimento-left-column {
  grid-area: left;
}

.alimento-right-column {
  grid-area: right;
}

@media screen and (min-width: 768px) {
  .wp-block-asim-alimento-block {
    grid-template-columns: 70% 30%;
  }
}
